@{
    ViewData["Title"] = "Carrinho";
	List<Endereco> enderecos = ViewBag.Enderecos;
	if (enderecos == null)
	{
		enderecos = new List<Endereco>();
	}
}
@model IEnumerable<Carrinho>
<main class="container-all-cart">
    <h2 class="title-main">Seu <span style=color:rgb(38,155,110)>Carrinho</span></h2>

    @if (!Model.Any())
    {
        <p>Seu carrinho está vazio.</p>
    }
    else
    {
        <div class="container-carrinho">
            <div class="carrinho">
                <div class="carrinho-pedidos">
                    @foreach (var item in Model)
                    {
                        if (item.ImagemProd != null)
                        {
                            //Transforma o blob para um jeito que dê para a imagem ser interpretada
                            item.ImagemBase64 = Convert.ToBase64String(item.ImagemProd);
                        }
                        <div class="pedidos">
                            <div class="content-junt">
                                <div class="pedido-img">
                                    <img style="width: 300px;" src="data:image/png;base64,@item.ImagemBase64" alt="Imagem do Produto" />
                                </div>
                                <div>
                                    <h2>@item.NomeProduto</h2>
                                    <h5>@item.Quantidade x R$<span>@item.PrecoProduto</span></h5>
                                </div>
                            </div>
                                <form asp-controller="Carrinho" asp-action="Adicionar" method="post">
                                    <input name="produtoId" asp-for="@item.ProdutoId" hidden/>
                                    <input name="qtd" value="1" hidden/>
                                    <div class="button-add">
                                    <button style="background:none;" class="btn-controle" type="submit"><i class="bi bi-plus-lg"></i></button>
                                    </div>
                                </form>
                                <div class="button-remove">
                                </div>
                                <div class="button-remove-all">
                                <a asp-controller="Carrinho" asp-action="Remover" asp-route-id="@item.ProdutoId" asp-route-qtd="@item.Quantidade" class="button-remove"><i class="bi bi-x"></i></a>
                                </div>
                        </div>
                    }
                </div>
                <div class="carrinho-total">
                    <div class="total">
                        <h1>RESUMO</h1>
                        <hr id="line-price"/>
                        <div class="content-price">
                            <h2>Sub-Total: R$@Model.Sum(i => i.Total)</h2>
                            <h2 style="color:#72AC6C;">Total: R$@Model.Sum(i => i.Total)</h2>
                        </div>
                        <div>
                            <form method="get" action="@Url.Action("Finalizar", "Produto")">
                                <select id="idend" name="idend">
                                    @foreach (var endereco in enderecos)
                                    {
                                        <option value="@endereco.IdEndereco">@endereco.Logradouro</option>
                                    }
                                </select>
                                <div class="button-box-cart-price">
                                    <button type="submit" class="button-price-all">Finalizar</button>
                                    <a asp-controller="Carrinho" asp-action="LimparCarrinho" class="button-price-all">Limpar</a>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    }
</main>

