@{
    ViewData["Title"] = "Carrinho";
}
@model IEnumerable<Carrinho>

<h2 class="title-main">Seu <span style=color:rgb(38,155,110)>Carrinho</span></h2>

@if (!Model.Any())
{
    <p>Seu carrinho está vazio.</p>
}
else
{
    <div class="container-carrinho">
        <div class="container-cards-price">
            <div class="cart-boxes">
                @foreach (var item in Model)
                {
                    if (item.ImagemProd != null)
                    {
                        //Transforma o blob para um jeito que dê para a imagem ser interpretada
                        item.ImagemBase64 = Convert.ToBase64String(item.ImagemProd);
                    }
                    <div class="cart-box">
                        <div class="cart-img">
                            <img src="data:image/png;base64,@item.ImagemBase64" alt="Imagem do Produto" />
                        </div>
                        <div>
                            <h2>@item.NomeProduto</h2>
                            <p>Quantidade: @item.Quantidade</p>
                        </div>
                        <div>
                            <h5>Preço: R$@item.PrecoProduto</h5>
                        </div>
                        <div class="button-box-cart">
                            <form asp-controller="Carrinho" asp-action="Adicionar" method="post">
                                <input name="produtoId" asp-for="@item.ProdutoId" hidden/>
                                <input name="qtd" value="1" hidden/>
                                <button class="btn-controle" type="submit">Adicionar</button>
                            </form>
                            <a asp-controller="Carrinho" asp-action="Remover" asp-route-id="@item.ProdutoId" asp-route-qtd="1" class="button-remove">Remover</a>
                            <a asp-controller="Carrinho" asp-action="Remover" asp-route-id="@item.ProdutoId" asp-route-qtd="@item.Quantidade" class="button-remove">Remover Todos</a>
                        </div>
                    </div>
                }
            </div>
            <div class="total-price-box">
                <h1 class="title-h1">Total a se Pagar</h1>
                <div class="box1-total-price">
                    <h1 class="sub-total-h1">Sub-Total: R$@Model.Sum(i => i.Total)</h1>
                    <h2>Frete: <span style="color: rgb(81, 145, 81);">Grátis</span></h2>
                </div>
                <div class="total-price">
                    Total: R$@Model.Sum(i => i.Total)
                </div>
                <div class="button-box-cart-price">
                    <a asp-controller="Produto" asp-action="Finalizar" class="button-cash">Finalizar Compra</a>
                    <a asp-controller="Carrinho" asp-action="LimparCarrinho" class="button-remove-all">Limpar Carrinho</a>
                </div>

            </div>
        </div>
        
    </div>
}