@{
    ViewData["Title"] = "Colaboradores";
}

@model IEnumerable<Colaborador>


<main style="margin:150px 0px;" class="products-index">
<h1>Painel de Colaboradores</h1>
<table class="content-table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Email</th>
            <th>CNPJ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fornecedor in Model)
        {
            <tr class="tr-products">
                <td>@fornecedor.IdColaborador</td>
                <td>@fornecedor.usuario</td>
                <td>@fornecedor.email</td>
                <td>@fornecedor.CNPJ</td>
                <td>
                    <a class="btn btn-danger" asp-controller="Conta" asp-action="DeletarFornecedor" asp-route-id="@fornecedor.IdColaborador" onclick="return confirm('Deseja excluir @fornecedor.usuario ?')">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</main>