@{
	ViewData["Title"] = "Detalhes do Pedido";
	Endereco endereco = ViewBag.Endereco;
	Usuario usuario = ViewBag.Usuario;
	Pedido pedido = ViewBag.Pedido;
}
@model IEnumerable<Produto>

<div class="container-detalhes">
	<div class="detalhes">
		<div class="detalhes-info">
			<h2>Detalhes do Pedido</h2>
			<h2>Pedido #@pedido.CodPed</h2>
			@foreach (var produto in Model)
			{
				if (produto.Imagem != null)
				{
					produto.ImagemBase64 = Convert.ToBase64String(produto.Imagem);
				}
				
				<h2>@produto.QuantidadeDoPedido x @produto.NomeProd</h2>
				<p>@produto.QuantidadeDoPedido x R$@produto.Preco</p>
				<img src="data:image/png;base64,@produto.ImagemBase64" alt="Produto" class="img-produto">
				<p>Data e hora: @produto.DataPed</p>
			}
			
			
			<p>Nome do cliente: @usuario.Nome</p>
			<p>Rua: @endereco.Logradouro, @endereco.Numero</p>
			<p>Complemento: @endereco.Complemento</p>
			<p>Bairro: @endereco.Bairro</p>
			<p>Cidade: @endereco.Cidade</p>
			<p>Estado: @endereco.Estado</p>
			
			
			<a href="@Url.Action("MeusPedidos", "Conta")" class="btn-voltar">Voltar</a>
		</div>
	</div>
</div>