@{
    ViewData["Title"] = "Painel Funcionarios";
}

@model IEnumerable<Funcionario>

<main class="products-index">
<h1>Painel Funcionarios</h1>
         
<table class="content-table">
    <thead>
        <tr>
            <th>Código <i class="bi bi-lock"></i></th>
            <th>Nome <i class="bi bi-tags"></i></th>
            <th>Email <i class="bi bi-envelope"></i></th>
            <th>Salario <i class="bi bi-currency-dollar"></i></th>    
        </tr>
    </thead>
    <tbody>
        @foreach (var funcionario in Model)
        {
            <tr class="tr-products">
                <td>@funcionario.CodFunc</td>
                <td>@funcionario.Nome</td>
                <td>@funcionario.email</td>
                <td>R$@funcionario.Salario</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Conta" asp-action="EditarFuncionario" asp-route-id="@funcionario.CodFunc">Editar</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="Conta" asp-action="DeletarFuncionario" asp-route-id="@funcionario.CodFunc" onclick="return confirm('Deseja excluir @funcionario.Nome ?')">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</main>