@using System.Security.Claims;
<!DOCTYPE html>
<html id="html" lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eat Now</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/TCM.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/formularios.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/indexhome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/indexconta.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/painelfornecedor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pedidos.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/compra.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cadastrarproduto.css" asp-append-version="true" />  
    <link rel="stylesheet" href="~/css/minhaconta.css" asp-append-version="true" />  
    <link rel="stylesheet" href="~/css/endereco.css" asp-append-version="true" />  

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <form asp-controller="Produto" asp-action="Pesquisar">
            <input class="barra-pesquisa" type="text" name="txtpesq" id="txtpesq" placeholder="Pesquisar">
        </form>
    </header>
        
    <nav class="navprincipal">
       <div class="container-toggle">
            <li class="litoggle">
                <div class="iconeNav">
                    <button class="menuToggle">
                        <span class="linha"></span>
                        <span class="linha"></span>
                        <span class="linha"></span>
                    </button>
                </div>
            </li>
       </div>
        <ul>
            <li class="logo" style="--bg: #333;">
                <a href="#">
                    <div class="iconeNav">
                        <img id="logoNav" style="width: 50px;" src="~/img/LogoLight.png"/>
                    </div>
                    <div class="textoNav">EatNow</div>
                </a>
            </li>
            <div class="listaMenu">
                <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "ativo" : "")">
                    <a asp-controller="Home" asp-action="Index">
                        <div class="iconeNav">
                            <i class="bi bi-house"></i>
                        </div>
                        <div class="textoNav">Home</div>
                    </a>
                </li>

                @if (User.Identity.Name == null)
                {
                    <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "Login" ? "ativo" : "")">
                        <a asp-controller="Home" asp-action="Login">
                            <div class="iconeNav">
                                <i class="bi bi-person"></i>
                            </div>
                            <div class="textoNav">Login</div>
                        </a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "CadastrarUsuario" ? "ativo" : "")">
                        <a asp-controller="Home" asp-action="CadastrarUsuario">
                            <div class="iconeNav">
                                <i class="bi bi-person-plus"></i>
                            </div>
                            <div class="textoNav">Cadastro</div>
                        </a>
                    </li>
                }

                <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Carrinho" ? "ativo" : "")">
                    <a asp-controller="Carrinho" asp-action="Index">
                        <div class="iconeNav">
                            <i class="bi bi-cart"></i>
                        </div>
                        <div class="textoNav">Carrinho</div>
                    </a>
                </li>

                @if (User.Identity.Name != null)
                {
                    <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Conta" && ViewContext.RouteData.Values["action"]?.ToString() == "MeusPedidos" ? "ativo" : "")">
                        <a asp-controller="Conta" asp-action="MeusPedidos">
                            <div class="iconeNav">
                                <i class="bi bi-receipt"></i>
                            </div>
                            <div class="textoNav">Histórico</div>
                        </a>
                    </li>
                }

                @if (User.IsInRole("Administrador"))
                {
                    <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Conta" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "ativo" : "")">
                        <a asp-controller="Conta" asp-action="Index">
                            <div class="iconeNav">
                                <i class="bi bi-plus-circle"></i>
                            </div>
                            <div class="textoNav">Admin</div>
                        </a>
                    </li>
                }

                

                @if (User.IsInRole("Fornecedor"))
                {
                    <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Conta" && ViewContext.RouteData.Values["action"]?.ToString() == "PainelFornecedor" ? "ativo" : "")">
                        <a asp-controller="Conta" asp-action="PainelFornecedor">
                            <div class="iconeNav">
                                <i class="bi bi-plus-circle"></i>
                            </div>
                            <div class="textoNav">Fornecedor</div>
                        </a>
                    </li>
                }

                @if (User.Identity.Name != null)
                {
                    <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Conta" && ViewContext.RouteData.Values["action"]?.ToString() == "MinhaConta" ? "ativo" : "")">
                        <a asp-controller="Conta" asp-action="MinhaConta">
                            <div class="iconeNav">
                                    <i class="bi bi-person"></i>
                            </div>
                            <div class="textoNav">@User.Identity.Name</div>
                        </a>
                    </li>
                }
                @if(User.Identity.Name != null)
                {
                <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "Logout" ? "ativo" : "")">
                    <a asp-controller="Home" asp-action="Logout">
                        <div class="iconeNav door-logout">
                            <i class="bi bi-door-open"></i>
                        </div>
                        <div class="textoNav">Logout</div>
                    </a>
                </li>
                }
                

                </div>
                <li style="margin: 3rem 0 0 0.3rem;" class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "Logout" ? "ativo" : "")">
                    <div>
                        <div class="iconeNav">
                            <div id="btn-toggle" class="btn-tema">
                                <div class="indicador"></div>
                            </div>
                        </div>
                        <div class="textoNav"></div>
                    </div>
                </li>
            </ul>
        </nav>









        @*MOBILE NAV*@
    <div class="mobileNav">
        <ul>

            <li class="lista @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")">
                <a asp-controller="Home" asp-action="Index">
                    <div class="icon">
                        <i class="bi bi-house"></i>
                    </div>
                    <div class="text">Home</div>
                </a>
            </li>

            @if (User.Identity.Name == null)
            {
                <li class="lista @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "Login" ? "active" : "")">
                    <a asp-controller="Home" asp-action="Login">
                        <div class="icon">
                            <i class="bi bi-person"></i>
                        </div>
                        <div class="text">Login</div>
                    </a>
                </li>
                <li class="lista @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "CadastrarUsuario" ? "active" : "")">
                    <a asp-controller="Home" asp-action="CadastrarUsuario">
                        <div class="icon">
                            <i class="bi bi-person-add"></i>
                        </div>
                        <div class="text">Cadastro</div>
                    </a>
                </li>
            }

            <li class="lista @(ViewContext.RouteData.Values["controller"]?.ToString() == "Carrinho" ? "active" : "")">
                <a asp-controller="Carrinho" asp-action="Index">
                    <div class="icon">
                        <i class="bi bi-cart"></i>
                    </div>
                    <div class="text">Carrinho</div>
                </a>
            </li>

            @if (User.Identity.Name != null)
            {
                <li class="lista @(ViewContext.RouteData.Values["controller"]?.ToString() == "Conta" && ViewContext.RouteData.Values["action"]?.ToString() == "MeusPedidos" ? "active" : "")">
                    <a asp-controller="Conta" asp-action="MeusPedidos">
                        <div class="icon">
                            <i class="bi bi-receipt"></i>
                        </div>
                        <div class="text">Histórico</div>
                    </a>
                </li>
            }

            @if (User.IsInRole("Administrador"))
            {
                <li class="lista @(ViewContext.RouteData.Values["controller"]?.ToString() == "Conta" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")">
                    <a asp-controller="Conta" asp-action="Index">
                        <div class="icon">
                            <i class="bi bi-plus-lg"></i>
                        </div>
                        <div class="text">Admin</div>
                    </a>
                </li>
            }

            @if (User.IsInRole("Cliente"))
            {
                <li class="lista @(ViewContext.RouteData.Values["controller"]?.ToString() == "Conta" && ViewContext.RouteData.Values["action"]?.ToString() == "MinhaConta" ? "active" : "")">
                    <a asp-controller="Conta" asp-action="MinhaConta">
                        <div class="iconeNav">
                            <i class="bi bi-tags"></i>
                        </div>
                        <div class="text">Minha Conta</div>
                    </a>
                </li>
            }

            @if (User.IsInRole("Fornecedor"))
            {
                <li class="lista @(ViewContext.RouteData.Values["controller"]?.ToString() == "Conta" && ViewContext.RouteData.Values["action"]?.ToString() == "PainelFornecedor" ? "active" : "")">
                    <a asp-controller="Conta" asp-action="PainelFornecedor">
                        <div class="icon">
                            <i class="bi bi-plus-lg"></i>
                        </div>
                        <div class="text">Fornecedor</div>
                    </a>
                </li>
            }

            @if (User.Identity.Name != null)
            {
                <li class="lista @(ViewContext.RouteData.Values["controller"]?.ToString() == "Conta" && ViewContext.RouteData.Values["action"]?.ToString() == "MinhaConta" ? "active" : "")">
                    <a asp-controller="Conta" asp-action="MinhaConta">
                        <div class="icon">
                            <span class="imgBx">
                                <i class="bi bi-person"></i>
                            </span>
                        </div>
                        <div class="text">@User.Identity.Name</div>
                    </a>
                </li>
            }

            <li class="lista @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "Logout" ? "active" : "")">
                <a asp-controller="Home" asp-action="Logout">
                    <div class="icon">
                        <i style="color:red;" class="bi bi-door-closed"></i>
                    </div>
                    <div class="text">Logout</div>
                </a>
            </li>
            <div class="bolinha"></div>
        </ul>

    </div>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script>
          (function () {
          try {
            const tema = localStorage.getItem("tema");
            if (tema === "dark") {
              document.documentElement.classList.add("dark");
              document.getElementById("btn-toggle").classList.add("dark");
              document.getElementById('logoNav').src = "/img/LogoDark.png";
            } else {
              document.documentElement.classList.remove("dark");
              document.getElementById("btn-toggle").classList.remove("dark");
              document.getElementById('logoNav').src = "/img/LogoLight.png";
            }
          } catch (e) {
            // Se der erro, não faz nada (padrão continua claro)
          }
        })();
        document.addEventListener("DOMContentLoaded", function () {
             //Seleciona todos os links dentro do menu
             const links = document.querySelectorAll(".mobileNav li a");

             links.forEach(link => {
                 link.addEventListener("click", function (event) {
                     event.preventDefault(); //Impede a navegação imediata

                     const destino = this.href; //Captura o destino do link

                     //Aguarda 2 segundos antes de redirecionar
                     setTimeout(() => {
                         window.location.href = destino;
                     }, 250);
                 });
             });
         });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>