@{
    ViewData["Title"] = $"Comprar {Model.NomeProd}";
}

@model TCM.Models.Produto

@{
    List<int> produtosEmPromocao = ViewBag.ProdutosPromo;
    PromocaoItem produtoPromocao = ViewBag.ProdutoPromo;
    List<Comentario> comentarios = ViewBag.Comentarios;
}

<div class="container-compra">
    <div class="compra">
        <div class="compra-img">
            <img src="data:image/png;base64,@Model.ImagemBase64" alt="Imagem do Produto" />
        </div>
        <div class="compra-infos">
            <h3>@Model.NomeProd</h3>
            <p>@Model.Descricao</p>
            @if(Model.Nota < 1)
            {
                <div class="product-star">
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <p>@Model.Nota</p>
                </div>
            }
            else if (Model.Nota == 1)
            {
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <p>@Model.Nota</p>
            }
            else if (Model.Nota <= 2 && Model.Nota >= 1.5)
            {
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <p>@Model.Nota</p>
            } 
            else if (Model.Nota <= 3 && Model.Nota >= 3.5)
            {
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <p>@Model.Nota</p>
            }
            else if (Model.Nota <= 4 && Model.Nota >= 3.5)
            {
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <p>@Model.Nota</p>
            }
            else if (Model.Nota <= 5 && Model.Nota >= 4.5)
            {
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <p>@Model.Nota</p>
            }
            @if (produtosEmPromocao.Contains(Convert.ToInt32(Model.CodProd)))
            {
                <h3>De: R$@Model.Preco</h3>
                <h3>Por: R$@produtoPromocao.PrecoPromo<sup>@produtoPromocao.Porcentagem% OFF</sup></h3>
            } 
            else
            {
                <h3>R$@Model.Preco</h3>
            }
            <p>Quantidade: @Model.Qtd</p>
            <p>Publicado por: @Model.Usuario</p>
            
            @if(Model.Qtd == 0)
            {
                <h3>Sem estoque</h3>
            }
            else
            {
                <form asp-controller="Carrinho" asp-action="Adicionar">
                    <input asp-for="CodProd" name="produtoId" id="produtoId" hidden/>
                    <div>
                        <input type="number" name="qtd" id="qtd" value="1" min="1" max="@Model.Qtd" />
                    </div>
                    
                    <div>
                        <button class="btn-comprar" type="submit">Comprar</button>
                    </div>
                    
                </form>
            }
        </div>
    </div>
</div>
<div class="container-comentarios">
    <div>
        <h3>Comentários</h3>
        <form asp-controller="Produto" asp-action="Comentar" method="post">
            <input asp-for="CodProd" name="produtoId" id="produtoId" hidden/>
            <div class="avaliacao">
                <div class="star-icon">
                    <input class="input-estrela" type="radio" name="avaliacao" id="avaliacao1" value="1" required />
                    <label class="bi bi-star-fill label-estrela" for="avaliacao1"></label>
                    <input class="input-estrela" type="radio" name="avaliacao" id="avaliacao2" value="2" required />
                    <label class="bi bi-star-fill label-estrela" for="avaliacao2"></label>
                    <input class="input-estrela" type="radio" name="avaliacao" id="avaliacao3" value="3" required />
                    <label class="bi bi-star-fill label-estrela" for="avaliacao3"></label>
                    <input class="input-estrela" type="radio" name="avaliacao" id="avaliacao4" value="4" required />
                    <label class="bi bi-star-fill label-estrela" for="avaliacao4"></label>
                    <input class="input-estrela" type="radio" name="avaliacao" id="avaliacao5" value="5" required />
                    <label class="bi bi-star-fill label-estrela" for="avaliacao5"></label>
                </div>
            </div>
            <textarea name="comentario" id="comentario" maxlength="255" style="resize: none"></textarea>
            <button type="submit">Comentar</button>
        </form>
        <div class="comentarios">
            @foreach(var comentario in comentarios)
            {
                <div class="comentario">
                    <img src="data:image/png;base64,@comentario.FotoPerfilBase64" alt="Foto de Perfil" />
                    <p>@comentario.UserName</p>
                    @if (comentario.Avaliacao < 1)
                    {
                        <div class="product-star">
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <p>@comentario.Avaliacao</p>
                        </div>
                    }
                    else if (comentario.Avaliacao == 1)
                    {
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <p>@comentario.Avaliacao</p>
                    }
                    else if (comentario.Avaliacao == 2)
                    {
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <p>@comentario.Avaliacao</p>
                    }
                    else if (comentario.Avaliacao == 3)
                    {
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <p>@comentario.Avaliacao</p>
                    }
                    else if (comentario.Avaliacao == 4)
                    {
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <p>@comentario.Avaliacao</p>
                    }
                    else if (comentario.Avaliacao == 5)
                    {
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <p>@comentario.Avaliacao</p>
                    }
                    <p>@comentario.comentario</p>
                    <p>@comentario.DataComent</p>
                </div>

            }
        </div>
            
    </div>
</div>