@{
    ViewData["Title"] = $"Comprar {Model.NomeProd}";
}

@model TCM.Models.Produto

@{
    List<int> produtosEmPromocao = ViewBag.ProdutosPromo;
    PromocaoItem produtoPromocao = ViewBag.ProdutoPromo;
}

<div class="container-compra">
    <div class="compra">
        <div class="compra-img">
            <img src="data:image/png;base64,@Model.ImagemBase64" alt="Imagem do Produto" />
        </div>
        <div class="compra-infos">
            <h3>@Model.NomeProd</h3>
            <p>@Model.Descricao</p>
            
            @if (produtosEmPromocao.Contains(Convert.ToInt32(Model.CodProd)))
            {
                <h3>De: R$@Model.Preco</h3>
                <h3>Por: R$@produtoPromocao.PrecoPromo<sup>@produtoPromocao.Porcentagem% OFF</sup></h3>
            } 
            else
            {
                <h3>R$@Model.Preco</h3>
            }
            <p>Quantidade: @Model.Qtd</p>
            <p>Publicado por: @Model.Usuario</p>
            
            @if(Model.Qtd == 0)
            {
                <h3>Sem estoque</h3>
            }
            else
            {
                <form asp-controller="Carrinho" asp-action="Adicionar">
                    <input asp-for="CodProd" name="produtoId" id="produtoId" hidden/>
                    <div>
                        <input type="number" name="qtd" id="qtd" value="1" min="1" max="@Model.Qtd" />
                    </div>
                    
                    <div>
                        <button class="btn-comprar" type="submit">Comprar</button>
                    </div>
                    
                </form>
            }
        </div>
    </div>
</div>