@{
    ViewData["Title"] = "Painel Produtos";
}

@model IEnumerable<Produto>


        

<main class="products-index">
    <h1>Painel Produtos</h1>
        <table class="content-table">
            <thead>
                <tr>
                    <th>Código <i class="bi bi-lock"></i></th>
                    <th>Nome <i class="bi bi-tags"></i></th>
                    <th>Descrição <i class="bi bi-pencil"></i></th>
                    <th>Preço <i class="bi bi-currency-dollar"></i></th>
                    <th>Quantidade <i class="bi bi-box-seam"></i></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var produto in Model)
                {
                    <tr class="tr-products">
                        <td>@produto.CodProd</td>
                        <td>@produto.NomeProd</td>
                        <td>@produto.Descricao</td>
                        <td>R$@produto.Preco</td>
                        <td>@produto.Qtd</td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Produto" asp-action="EditarProduto" asp-route-id="@produto.CodProd">Editar</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-controller="Produto" asp-action="DeletarProduto" asp-route-id="@produto.CodProd" onclick="return confirm('Deseja excluir @produto.NomeProd ?')">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
        <a class="btn-comprar-f" id="btnPopup" asp-controller="Produto" asp-action="CadastrarProduto">Novo Produto</a>
        </div>
    <div id="overlay"></div>
    <div id="popup">
        <h2>Popup</h2>
        <p>Este popup ficará aberto por 6 segundos.</p>
        <div id="progressBarContainer">
            <div id="progressBar"></div>
        </div>
    </div>

</main>