    @{
    ViewData["Title"] = "Painel Produtos";
}

@model IEnumerable<Produto>

<main class="products-index">
    <h1>Painel Produtos</h1>
    <div>
        <a class="btn-comprar-f" id="btnPopup" asp-controller="Produto" asp-action="CadastrarProduto" style="margin-top: 1rem;">Novo Produto</a>
    </div>
        <table class="content-table">
            <thead>
                <tr>
                    <th>Código <i class="bi bi-lock"></i></th>
                    <th>Nome <i class="bi bi-tags"></i></th>
                    <th>Descrição <i class="bi bi-pencil"></i></th>
                    <th>Preço <i class="bi bi-currency-dollar"></i></th>
                    <th>Quantidade <i class="bi bi-box-seam"></i></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var produto in Model)
                {
                    <tr class="tr-products">
                    <td data-label="Código">@produto.CodProd</td>
                    <td data-label="Nome">@produto.NomeProd</td>
                    <td data-label="Descrição">@produto.Descricao</td>
                    <td data-label="Preço">R$@produto.Preco</td>
                    <td data-label="Quantidade">@produto.Qtd</td>
                    <td data-label="Editar">
                            <a class="btn btn-primary" asp-controller="Produto" asp-action="EditarProduto" asp-route-id="@produto.CodProd">Editar</a>
                        </td>
                    <td data-label="Deletar">
                            <a class="btn btn-danger" asp-controller="Produto" asp-action="DeletarProduto" asp-route-id="@produto.CodProd" onclick="return confirm('Deseja excluir @produto.NomeProd ?')">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
    <div id="overlay"></div>

</main>