@{
    ViewData["Title"] = "Painel de Promoções";
}

@model IEnumerable<Promocao>
<main style="margin:200px 0px;" class="products-index">
            <h1>Painel de Promoções</h1>
            <div>
                <a asp-controller="Produto" asp-action="NovaPromocao" class="btn btn-primary">Nova Promoção</a>
                <a asp-controller="Produto" asp-action="DeletarPromocao" class="btn btn-primary">Excluir Promoção</a>
            </div>

        <div>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Porcentagem</th>
                        <th>Data de Exclusão</th>
                        <th>Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var promocao in Model)
                    {
                        <tr>
                            <td>@promocao.PromoId</td>
                            <td>@promocao.NomePromo</td>
                            <td>@promocao.Porcentagem</td>
                            <td>@promocao.Data_Exclusao</td>
                            <td>@promocao.Categoria</td>
                            <td>
                                <a class="btn btn-danger" asp-controller="Produto" asp-action="DeletarPromocao" asp-route-promoId="@promocao.PromoId">Excluir</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</main>
